body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

#game {
    margin: 20px auto;
    width: 300px;
    height: 300px;
    position: relative;
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 10px;
}

#cat {
    position: absolute;
    width: 100px;
    cursor: pointer;
}

#score,
#timer {
    font-size: 1.5rem;
    margin-top: 10px;
}

#ad-container {
    margin: 20px auto;
    text-align: center;
    width: 100%;
}

/* 
#game {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid black;
} */

#cat {
    position: absolute;
    cursor: pointer;
    transition: top 0.2s, left 0.2s;
    /* 부드럽게 이동 */
}

#game-end {
    display: none;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#ranking {
    margin-top: 20px;
    text-align: center;
}

#ranking ul {
    list-style-type: none;
    padding: 0;
}

#ranking li {
    margin: 5px 0;
}

#nickname-input {
    display: none;
    text-align: center;
    margin-top: 20px;
}